################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/.vs/UrlShortener
/src/bin/Debug/net8.0
